[Unit]
Description=Bluetooth Auth Agent

[Service]
ExecStart=/usr/bin/bt-agent -p /etc/pitailbt.conf -c DisplayOnly
Type=simple

[Install]
WantedBy=multi-user.target
