[Unit]
Description=Bluetooth Auth Agent

[Service]
ExecStart=/bin/sh -c "if [ -f /etc/pi-tailbt.conf ]; then /usr/bin/bt-agent -p /etc/pi-tailbt.conf -c DisplayOnly; fi"
Type=simple

[Install]
WantedBy=multi-user.target
