[Unit]
Description=Bluetooth NEP PAN
After=pan0.network

[Service]
ExecStart=/bin/sh -c "if [ -f /etc/pitailbt.conf ]; then /usr/bin/bt-network -s nap pan0; fi"
Type=simple

[Install]
WantedBy=multi-user.target
