[Unit]
Description=Configuration of network interfaces for Pi-Tail

Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "mountpoint -q /boot || mount /boot && if [ -f /boot/interfaces ]; then cp -f /boot/interfaces /etc/network/; fi\
&& if [ -f /boot/wpa_supplicant.conf ]; then cp -f /boot/wpa_supplicant.conf /etc/wpa_supplicant/;fi\
&& if [ -f /boot/pi-tailbt.conf ]; then cp -f /boot/pi-tailbt.conf /etc/;else rm -f /etc/pi-tailbt.conf; fi\
&& cp -f /etc/network/interfaces /boot/interfaces.active && cp -f /etc/wpa_supplicant/wpa_supplicant.conf /boot/wpa_supplicant.active"

[Install]
WantedBy=local-fs.target

