[Unit]
Description=VNC Service for remote desktop sharing
After=syslog.target network.target

[Service]
Type=forking
PAMName=login

# User=root
User=root
PIDFile=/root/.vnc/%H:%i.pid
ExecStartPre=/bin/sh -c "if [ -f /home/root/.vnc/%H:%i.pid ]; then /usr/bin/vncserver -kill :%i > /dev/null 2>&1 ; fi"

# User=pi
##User=pi
##PIDFile=/home/pi/.vnc/%H:%i.pid
##ExecStartPre=/bin/sh -c "if [ -f /home/pi/.vnc/%H:%i.pid ]; then /usr/bin/vncserver -kill :%i > /dev/null 2>&1 ; fi"

ExecStart=/usr/bin/vncserver :%i
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
